<app-card cardTitle="Posición - Resumen">
  <div class="row">
    <div class="col-md-9">

      <agm-map [latitude]="positionCenter.latitude"
               [longitude]="positionCenter.longitud"
               [zoom]="17"
               style="height: 550px;">

        <agm-marker *ngFor="let item of lsPositionEnfermos"
                    [latitude]="item.latitud"
                    [longitude]="item.longitud">
          <agm-info-window [isOpen]="true" >
            <h5 class="font-weight-bold">
              {{ item.estadadoPaciente | uppercase }}
            </h5>
          </agm-info-window>
        </agm-marker>

      </agm-map>

    </div>
    <div class="col-md-3">

      <dx-pie-chart
        id="pie"
        title="Estado Infectados"
        palette="bright"
        [dataSource]="resumen.EstadosPaciente">
        <dxi-series
          argumentField="Estado"
          valueField="Count">
          <dxo-label [visible]="true">
            <dxo-connector
              [visible]="true"
              [width]="1"></dxo-connector>
          </dxo-label>
        </dxi-series>
        <dxo-legend
          verticalAlignment='bottom'
          horizontalAlignment='center'>
        </dxo-legend>
        <dxo-export [enabled]="true"></dxo-export>
      </dx-pie-chart>

      <dx-data-grid
        id="gridContainer"
        [dataSource]="resumen.EstadosPaciente"
        [columns]="['Estado','Count']"
        [showBorders]="true">
        <dxi-column
          dataField="Estado">
        </dxi-column>
        <dxi-column
          dataField="Count" caption="Total" alignment="center">
        </dxi-column>
      </dx-data-grid>
    </div>
  </div>


</app-card>
